.inviteGrid {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-width: 2px;
	border-radius: 15px;
	padding: 4%;
	width: 25vw;
}

.buttonBox {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
