.warnings{
	color:rgb(138, 2, 2);
	font-weight: bold;
	text-decoration: underline;
	font-size: 15px;
	margin: 5px;
}
.authorized{
	color:rgb(5, 89, 45);
	font-weight: bold;
	text-decoration: underline;
	font-size: 15px;
	margin: 5px;
}

.toast-success {
    background: rgb(0, 139, 9);
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}
.toast-error {
    background: rgb(206, 0, 0);
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}
.toast-info {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}