.grid
{
	flex-direction: row;
	display: flex;
	width: 100%;
	height: calc( 100vh - 190px);
	justify-content: center;
	gap:2vh;
}

.leftColumn
{
	display:flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.30);
	width:25vh;
	border-radius: 7px;
	overflow-y: scroll;
	row-gap: 0.5vh;
	padding: 2vh;
}

.friendBubble
{
	flex-shrink: 0;
	/*background-color: transparent;*/
	height: 20vh;
	border-radius: 7px;
	border: 0px solid #a00000;
	box-shadow: rgba(0,0,0,0.1) 0 0 5px;
}

.online
{
	background-color: rgba(9, 174, 0, 0.3);
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.offline
{
	display: none;
	background-color: rgba(174, 0, 0, 0.3);
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.middleColumn
{
	background-color: rgba(255, 255, 255, 0.30);
	width: 45vh;
	border-radius: 7px;
	overflow-y: auto;
}

.rightColumn
{
	background-color: rgba(255, 255, 255, 0.30);
	width: 25vh;
	border-radius: 7px;
}

/* ChatInterface.css */

.chat-interface {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.message-display {
	overflow-y: auto;
	flex-grow: 1;
	padding: 7px;
	/* display: flex; */
	align-items: end;
	flex-direction: column;
}

.message-bubble {
	max-width: 70%;
	padding: 8px 10px;
	margin: 8px;
	word-wrap: break-word;
	width: auto;
	min-height: 40px;

}

.user {
	background-color: #007bff;
	border-radius: 0 20px 20px 20px;
	color: white;
	margin-left: 90px;
  }

  ul {
	  list-style: none;
  }

  .other {
	background-color: #f4f4f4;
	color: black;
	margin-right: 30vh;
	border-radius: 20px 0px 20px 20px;
  }

  .message-input {
	display: flex;
	align-items: center;
	padding: 10px;
  }

  .messages {
	flex-grow: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
  }

  .sendButton {
	background-color: #a2246e;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;

	&:hover {
	  background-color: #310c22;
	}
  }

.Addfriend
{
	background-color: #a2246e;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;
	position:relative;
	z-index: 15;
}

.character-picture {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 50%;
  grid-row: 2;
}

.lower-text {
  color: black;
  font-size: 12px;
  line-height: 120%;
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 3;
}

ul {
	padding: 0;
}

.friendlist{
	list-style: none;
	padding: 8px;
	padding-bottom: 20px;
	padding-top: 20px;
	border: 1px none #ccc;
	border-radius: 4px;
}

.block{
	background-color: #413c3f;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;
	margin-top: 1vh;

	&:hover {
	  background-color: #310c22;
	}
}
