/* flex-direction: column; */
.HomeText{
	/* display: flex; */
    /* align-items: top; */
    /* padding-top: 15px; */
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    font-size: 50px;

}

.settings
{
    flex-direction: row;
    margin-right: -80vh;
    margin-top: -15vh;
    margin-bottom: -10vh;
    gap: 1vh;
}

.icon-container {
    width: 40px;
    /* height: 40px; */
    position: relative;
    bottom: 20px;
  }
  


.displayGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 18vh;
    margin-right: 1vh;
    justify-content: flex-end;
    row-gap: 0.5vh;
}

.schoollogo {
    align-items: center;
    text-align: center;
    height: 50px;
    -webkit-box-pack: end;
    justify-content:center;
    border-radius: 35px;
    object-fit: cover;
    size: 30px;
    display: flex;
}

.profilePic{
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(171, 156, 156);
    width: 70px;
    height: fit-content;
    -webkit-box-pack: end;
    justify-content: flex-end;
    object-fit: cover;
}

.quickGame{
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 7px;
    padding: 5px 5px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    border: 0px solid #ccc;
    font-size: 15px;

    height: 18vh;
    width: 26vh;
    &:hover{
        background-color: #c27b00;
        cursor: pointer;
    }
}

.topBox{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: left;
    align-items: center;
    margin-left: 18vh;
}

.matchHistory{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 7px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    border: 0px solid #a00000;
    font-size: larger;
    row-gap: 5px;
}

.achievements{
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 7px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    border: 0px solid #ccc;
    font-size: larger;
}

.friends-list{
    /* border-radius: 7px;
    padding: 10px 10px;
    box-shadow: rgba(0,0,0,0.1) 0 0 5px;
    border: 0px solid #ccc;
    font-size:medium;
    max-height: 50vh;
    overflow-y: scroll; */ 
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
    border: 1px solid #333;
    font-size: larger;
    color: #E6E6E6;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    max-height: 60vh;
    row-gap: 2vh;
    overflow-y: auto;
}
a { color: rgb(23, 22, 22); }

.matchBox{
    background-color: transparent;
    border-radius: 7px;
    padding: 5px 5px;
    box-shadow: rgba(96, 93, 93, 0.1) 0 0 10px;
    border: 0px solid #ccc;
    font-size: larger;
}

.profile-border{

    box-sizing:content-box;
    box-shadow: rgba(145, 138, 138, 0.1) 0 0 10px;
    width: 65vw;
    background-color:rgba(49, 11, 34, 0.3);
    overflow: hidden;
    border-radius: 15px;
    align-content: center;
    /* padding-top: 5px; */
    padding-top: 18px;
    margin-right: 5px;
    margin-left: 50px;
}

.welcome{
    color: rgb(180, 180, 180);
    font-weight: 400;
    line-height: 25.6px !important;
    padding-top: 18px;
    margin-right: 5px;
    margin-left: 50px;
}
